# VS Code settings
.vscode/
password.txt

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/
text.txt
test.py
# Database files
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.pytest_cache/
*.egg-info/

# Optional: hide scripts or test files you don't want in git
test.py